Source: uftp
Section: net
Priority: optional
Maintainer: Frank Maker <frank.maker@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libssl-dev
Standards-Version: 3.9.2
Homepage: http://www.tcnj.edu/~bush/uftp.html

Package: uftp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Encrypted multicast file transfer program
 Utility for secure, reliable, and efficient file transfer to multiple
 receivers simultaneously.  This is useful for distributing large files to a
 large number of receivers, and is especially useful for data distribution over
 a satellite link where the inherent delay makes any TCP based communication
 highly inefficient.
 
